<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<title>smgHelloUdacity</title>
	</head>
<body>
	<h1>Welcome {{name}}!</h1>
    	<ul>
    		<li><a href="/rot13">Rot13 converter</a></li>
    		<li><a href="/blog">Blog</a></li>
    		<li><a href="/blog/signup">Signup</a> (This will log you out so that you can sign up a new user)</li>
    		<li><a href="/blog/login">Login</a>
    		<li><a href="/blog/logout">Logout</a>
    	</ul>

</body>
</html>