<!DOCTYPE HTML>
<html>
	<head>
		<title>smgHelloUdacity Blog</title>
	</head>
<body>

	<h1> Welcome to the <a href="/blog">blog</a></h1>
	<hr>
	<p>Enter your new post below</p>
	<div>
			<form method="post">
				<p><textarea name="subject" cols = "60" rows = "1" placeholder="Title">{{subject}}</textarea></p>
				<p><textarea name="content" cols="60" rows="20" placeholder="Enter blog text then click submit">{{content}}</textarea></p>
				<div>{{error}}</div>
				<input type="submit">
			</form>
	</div>

</body>
</html>