<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<title>smgHelloUdacity ROT13</title>
	</head>
<body>
	<h1>ROT13</h1>
	<div>
		<p>
			<form method="post">
			<br>
			<textarea name="text" cols="60" rows="20" placeholder="Enter text in the box and click submit to get ROT13'ed version of the text">{{escaped}}</textarea>
			<br>
			<input type="submit">
			</form>
		</p><br>Back to <a href="/blog/welcome">welcome</a>.
	</div>
</body>
</html>